/* Global */

body {      
    margin: 0;    
    text-align: center;    
    background: #fff;     
    color: #3d3d3d;   
    font-size: 16px;    
    line-height: 4;          
}

.container {
    padding: 20px;
}

/* Header */

header {
    background-image: url('https://i.postimg.cc/y8BqgfcC/pexels-vlada-karpovich-7368277.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;  
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav-list li {
    margin: 0px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #4CAF50;
}

h1 {
    color: #ffe600;

}

/* Intro */

button {
    border: none;
    background-color: #ffe600ac;
    padding: 15px;
    color: #ffffff;
    margin: auto;
}

button a {
    text-decoration: none;

}


#intro .container-fluid{
    background: #1e824889;
    padding-bottom: 70px;
}

h2 {
    color: #ffffff;
    margin: 0px;
}

p {
    font-size: 30px;
    color: #ffffff;
    margin: 0px;
}

/* Services */

#services .container-fluid {
    background: #ffffff;
}

#services h1 {
    font-size: 30px;    
    color:#3d3d3d;
    margin-bottom: -40px;

}

#services p {
    color:#3d3d3d;
    font-size: 16px;
    margin-top: -30px;
    line-height: 20px;
    padding-bottom: 70px;

}

#services h2 {
    color:#3d3d3d;   
}

#services h2 a {
    text-decoration: none;
    color: #000000;
}

#services a:hover {
    color: #4CAF50;
}

